The graph must be directed and acyclic

graph processing must be able to support rt safe processing

There must be able to be more than one graph per process

A graph contains a number of nodes

The graph cannot have parallel edges between nodes

Can a graph contain isolated nodes(no edges)?

A source node is a node with no incoming edges

A sink node is a node with no outgoing edges

A processing node is a node with incoming and outgoing edges

Must be able to add and remove edges.

The source nodes in the graph are processed first as they are
the source of the data and the edges are followed to process the
rest of the nodes.

The graph must be able to be processed in parallel.

Would breadth first processing be more cache friendly?

The API must expose a way to set how many threads are used to process
the graph.

get_max_thread_count

get_thread_count
set_thread_count

// optional
get_optimal_thread_count

The test suite must be able to measure total process time

The test suite must be able to measure thread context switching time.

The test suite must be able to test the effect cache size has on processing
performance.



